	#full{
		background: blue;
		border-color: black;
	}
	#title{
		text-align: center;
		color:white;
		margin-color:black;

	}
	#userGifs{
		background: grey;
		border-top: 0;
		margin: 0;
		padding: 0;
	}
	#borderRow{
		margin:0;
		padding: 0;
	}
  .instructions{
    color: white;
  }
  #previewDiv{
    color: white;
  }